@import "tailwindcss";

/* RESET GLOBAL – AMAN UNTUK TAILWIND */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* JANGAN SET background-color DI SINI */
